*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:aquamarine;
    padding: 10px;
    gap: 15px;
    width:auto;
}
nav{
    display:flex;
    gap:5px;
}
nav a{
    background-color: aliceblue;
    padding:10px;
    border-radius:6px;
    text-decoration:none;
    color:white;
}

